[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
optuna = "*"
gymnasium = "*"
stable-baselines3 = "*"
pandas = "*"
matplotlib = "*"
torch = "*"
tensorboardx = "*"
torchvision = "*"
pillow = "*"

[dev-packages]
torch-tb-profiler = "*"
tensorboard = "*"

[requires]
python_version = "3.12"
